{%extends 'base.html.twig' %}

{% block title %}Url statistic{% endblock %}
{#{% block buttons %}#}
{#    <button onclick="location.href='/logout'" type="button" class="btn btn-outline-light me-2">Logout</button>#}
{#{% endblock %}#}
{% block content %}

<section>
    <ul>
        <li>Id: {{ url.id}}</li>
        <li>Code: {{ url.code}}</li>
        <li>Url: {{ url.url }}</li>
        <li>Counter: {{ url.counter}}</li>
        <li>Date of creation: {{ dateCreate|date("d M Y H:i")}}</li>
        <li>Date of the last transition: {{ dateUpdate|date("d M Y H:i")}}</li>
    </ul>
</section>

{% endblock %}